.containers {
    border: 2px solid #dedede;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darkers {
    border-color: #dcf8c6;
    background-color: #dcf8c6;
  }
  
  .containers::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .containers img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .containers img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }