
  
  .sidebars {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .sidebars a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebars a:hover {
    color: #f1f1f1;
  }
  
  .sidebars .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-right .5s;
  }
  #main2 {
    transition: margin-right .5s;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebars {padding-top: 15px;}
    .sidebars a {font-size: 18px;}
  }
  nav.sidebar-right {
      width: 100%;
  }
  .icon-back {
    margin: 0px 10px 4px 0px;
  }
  .navbar-new-message {
    font-weight: 500;
  }
  .container-navbar-new-chat{
    bottom: 5px;
    position: absolute;
    min-width: 161px;
  }